@import url(https://fonts.googleapis.com/css?family=Raleway:400,500);
* {
  margin: 0;
  padding: 0;
  list-style: none;
  vertical-align: baseline;
}

div {
  position:relative;
  z-index: 2;
}

body {
  background-color: #333;
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-weight:400;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.footer {
  width:450px;
  text-align:center;
  display:block;
  margin:15px auto 30px auto;
  font-size:0.8em;
  color:#fff;
  
}
.footer>a {
    font-weight:500;
    text-decoration:none;
    color:#fff;
  }
#quote-box {
  border-radius:3px;
  position:relative;
  margin:8% auto auto auto;
  width:450px;
  padding:40px 50px;
  display:table;
  background-color:#fff;
  
  
  
  
}
#quote-box>.quote-text {
    
    text-align:center;
    width:450px;
    height:auto;
    clear:both;
    font-weight:500;
    font-size:2.75em;
  }
  #quote-box>.quote-text>i{
    font-size:1.0em;
    margin-right: 0.4em;
  }
#quote-box>.quote-author {
    width:450px;
    height:auto;
    clear:both;
    padding-top:20px;
    font-size:1.4em; 
    text-align:right;
  }

#quote-box>.buttons {
    width:450px;
    margin:auto;
    display:block;
    
}
#quote-box>.buttons>.button {
    height:38px;
    border:none;
    border-radius:3px;
    color:#fff;
    background-color:#333;
    outline:none;
    font-size:0.85em;
    padding: 8px 18px 6px 18px;
    margin-top:30px;
    opacity:1;
    cursor:pointer;
    
  }
#quote-box>.buttons>.button:hover {
    opacity:0.9;
  }     
  #quote-box>.buttons>.button>#new-quote {
    float:right;
  }
  

  
  .heart {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: pink;
    height: 50px;
    width: 50px;
    transform: rotate(-45deg);
    animation-name: beat;
    animation-duration: 1s;
    animation-iteration-count:infinite;

  }
  .heart:after {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: 0px;
    left: 25px;
  }
  .heart:before {
    background-color: pink;
    content: "";
    border-radius: 50%;
    position: absolute;
    width: 50px;
    height: 50px;
    top: -25px;
    left: 0px;
  }

  
  @keyframes beat {
    0% {
      transform: scale(0.5) rotate(-45deg);
    }
    30%{
      transform: scale(0.7) rotate(-45deg);
    }
    70% {
      transform: scale(0.9) rotate(-45deg);
    }
    100%{
      transform: scale(0.5) rotate(-45deg);
    }
  }

  .contain {
    position: relative;
    margin: 155px auto;
    width: 255px;
  }
  
  svg {
    position: absolute;
  }
  svg ellipse {
    -webkit-transform-origin: center;
            transform-origin: center;
  }
  svg:nth-of-type(1) ellipse {
    stroke: #F1725D;
    cx: 25px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
            animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
  }
  svg:nth-of-type(2) ellipse {
    stroke: #38BDAB;
    cx: 65px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
            animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 75ms;
            animation-delay: 75ms;
  }
  svg:nth-of-type(3) ellipse {
    stroke: #9D30A5;
    cx: 105px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
            animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
  }
  svg:nth-of-type(4) ellipse {
    stroke: #B779E2;
    cx: 145px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
            animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 225ms;
            animation-delay: 225ms;
  }
  svg:nth-of-type(5) ellipse {
    stroke: #683893;
    cx: 185px;
    stroke-width: 3px;
    -webkit-animation: jump 600ms infinite ease-in-out;
            animation: jump 600ms infinite ease-in-out;
    opacity: .7;
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  svg:nth-of-type(6) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 25px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
            animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 0ms;
            animation-delay: 0ms;
  }
  svg:nth-of-type(7) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 65px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
            animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 75ms;
            animation-delay: 75ms;
  }
  svg:nth-of-type(8) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 105px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
            animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 150ms;
            animation-delay: 150ms;
  }
  svg:nth-of-type(9) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 145px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
            animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 225ms;
            animation-delay: 225ms;
  }
  svg:nth-of-type(10) ellipse {
    fill: #333333;
    opacity: .05;
    rx: 0;
    ry: 0;
    cx: 185px;
    cy: 48px;
    -webkit-animation: shadow 600ms infinite ease-in-out;
            animation: shadow 600ms infinite ease-in-out;
    -webkit-animation-delay: 300ms;
            animation-delay: 300ms;
  }
  
  @-webkit-keyframes jump {
    40% {
      -webkit-transform: translateY(20px) scale(1.3);
              transform: translateY(20px) scale(1.3);
      opacity: .9;
    }
    40% {
      rx: 10px;
      ry: 10px;
      stroke-width: 3px;
    }
    45% {
      rx: 15px;
      ry: 7px;
      stroke-width: 4px;
    }
    55% {
      rx: 10px;
      ry: 10px;
    }
  }
  
  @keyframes jump {
    40% {
      -webkit-transform: translateY(20px) scale(1.3);
              transform: translateY(20px) scale(1.3);
      opacity: .9;
    }
    40% {
      rx: 10px;
      ry: 10px;
      stroke-width: 3px;
    }
    45% {
      rx: 15px;
      ry: 7px;
      stroke-width: 4px;
    }
    55% {
      rx: 10px;
      ry: 10px;
    }
  }
  @-webkit-keyframes shadow {
    45% {
      opacity: .15;
      rx: 10px;
      ry: 3px;
      -webkit-transform: translateY(0px) scale(1.3);
              transform: translateY(0px) scale(1.3);
    }
  }
  @keyframes shadow {
    45% {
      opacity: .15;
      rx: 10px;
      ry: 3px;
      -webkit-transform: translateY(0px) scale(1.3);
              transform: translateY(0px) scale(1.3);
    }
  }




